In [1]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

In [28]:
## Ejercicio 2: Ingreso de variables
nombre = "Amelia"
edad = 33
actividades = ["dormir", "beber cerveza", "escuchar música"]
mascotas = "no"

In [32]:
## Ejercicio 3: Imprimiendo variable
print(nombre, edad, actividades, mascotas)

Amelia 33 ['dormir', 'beber cerveza', 'escuchar música'] no

In [31]:
print(actividades[1])

beber cerveza

In [33]:
type(nombre)

str

In [34]:
type(edad)

int

In [35]:
type(actividades)

list

In [36]:
type(mascotas)

str

In [38]:
print("La persona más bkn realiza las siguientes actividades {}, como por ejemplo {} ".format(actividades, nombre))

La persona más bkn realiza las siguientes actividades ['dormir', 'beber cerveza', 'escuchar música'], como por ejemplo Amelia

In [39]:
## Ejercicio 4:

In [44]:
#faltaba el cierre de cadena
print('Estaba la pájara pinta sentada en el verde limón')

Estaba la pájara pinta sentada en el verde limón

In [45]:
#estaba mal referenciada la variable
print('Mi nombre es {} y tengo {} años'.format(nombre,edad))

Mi nombre es Amelia y tengo 33 años

In [48]:
#Estaba sumando un string con un entero
"Ornitorrinco"+"45"

'Ornitorrinco45'

In [50]:
## Ejercicio5: Utilizando pandas y numpy
import pandas as pd
import numpy as np

In [51]:
df = pd.read_csv('flights.csv')

In [52]:
df.head(5)

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [53]:
df[:5]

   year     month  passengers
0  1949   January         112
1  1949  February         118
2  1949     March         132
3  1949     April         129
4  1949       May         121

In [54]:
df.shape

(144, 3)

In [56]:
df[139:]

     year      month  passengers
139  1960     August         606
140  1960  September         508
141  1960    October         461
142  1960   November         390
143  1960   December         432

In [59]:
df['year'].describe()

count     144.000000
mean     1954.500000
std         3.464102
min      1949.000000
25%      1951.750000
50%      1954.500000
75%      1957.250000
max      1960.000000
Name: year, dtype: float64

In [60]:
df['year'].value_counts()

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [61]:
df['month'].value_counts()

September    12
December     12
August       12
May          12
November     12
March        12
January      12
April        12
June         12
July         12
October      12
February     12
Name: month, dtype: int64

In [72]:
primeras = df[:15]

In [73]:
ultimas = df[129:]

In [108]:
#Primeras 15, media, mediana y varianza
np.mean(primeras['passengers'])

126.8

In [109]:
np.median(primeras['passengers'])

126.0

In [104]:
np.std(primeras['passengers'])

12.681745410891462

In [93]:
#Ultimos 15, media, mediana y varianza

In [105]:
np.mean(ultimas['passengers'])

459.2

In [106]:
np.median(ultimas['passengers'])

432.0

In [107]:
np.std(ultimas['passengers'])

75.29426715671431

In [91]:
# A medida que avanza el tiempo la cantidad de pasajeros va aumentando